<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Proj</title>
</head>
<body>
    <div class="table-refresh" data-url="/data" >
        <!-- <table class="table-refresh__table" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Shubham</td>
                    <td>23</td>
                </tr>
            </tbody>
        </table>
        <div class="table-refresh__options">
            <span class="table-refresh__label" > Last Update :never</span>
            <button type="button" class="table-refresh__button table-refresh__button-refreshing" >
                <i class="material-icons">refresh</i>
            </button>
        </div> -->
    </div>
</body>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel ="stylesheet" href="./src/app.css" >
<script src="./src/app.js" ></script>
</html>